
.image-item {
    padding: 20px 0 20px 20px;
  }



@media screen and (max-width: 480px) {
.react-multiple-carousel__arrow:hover {
    background: none;
}
.react-multiple-carousel__arrow{
    min-height: 10% !important;
    min-width: 10% !important;
    background: none;

}
}