.link{
    list-style-type: none;
    gap: 2rem;
}
li{
    color: white;
            text-decoration: none;
}
.search {
    display: flex;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
    padding-left: 0.5rem;
}
.input{
    width: 0;
          opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
    background-color: transparent;
    border: none;
    color: white;
}